.country-page {
	background: var(--background);
	width: 90%;
	margin: 0 auto;
}


.btn {
	padding: 0.5em 1.2em;
	background: var(--elements);
	border: none;
	margin: 2em 0 5em 0;
}

.country-flag {
	width: 100%;
}

.country-stats {
	margin-bottom: .5em;
}

.country-stats-bold,
.borders {
	font-weight: 600;
}

.margin-bottom {
	margin-bottom: 2em;
}

.borders {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.border-countires {
	width: 100%;
}

@media (min-width: 1200px) {
	.country-page {
		font-size: 1.1rem;
	}
	.country-page-container {
		display: flex;
		gap: 5em;
	}

	.btn {
		display: inline-block;
	}

	.country-flag {
		width: 50%;
	}

	.country-page-name {
		margin: 1.5em 0;
	}

	.country-stats {
		margin-bottom: 1em;
	}

	.country-stats-flex {
		display: flex;
		gap: 5em;
	}

	.border-countires {
		margin-bottom: 0;
		margin-right: .75em;
	}

}

