p {
	margin: 0 0 .2em 0;
}

a {
	color: var(--text);
}

.country {
	background: var(--elements);
	/* max-width: 200px; */
	width: 70%;
	margin-bottom: 3em;
	box-shadow: 7px 6px 5px 0px rgba(219,212,212,0.75);
	-webkit-box-shadow: 7px 6px 5px 0px rgba(219,212,212,0.75);
	-moz-box-shadow: 7px 6px 5px 0px rgba(219,212,212,0.75);
}

.country-data,
.country-name {
	padding-left: 1em;
}

.country-data {
	margin-bottom: .4em;
}

.padding-bottom {
	padding-bottom: 1.75em;
}

.text-bold {
	font-weight: 600;
}