p {
	margin: 0 0 .2em 0;
}

a {
	color: var(--text);
}

.country {
	background: var(--elements);
	width: 70%;
	margin-bottom: 3em;
}

.country-flag {
	width: 100%;
}

.country-data,
.country-name {
	padding-left: 1em;
}

.country-data {
	margin-bottom: .4em;
}

.padding-bottom {
	padding-bottom: 1.75em;
}

.text-bold {
	font-weight: 600;
}

@media (min-width: 1200px) {
	.country {
		/* width: none; */
		/* width: 600px; */
		width: 100%;
	}
}