.country-page {
	background: var(--background);
	width: 90%;
	margin: 0 auto;
}


.btn {
	padding: 0.5em 1.2em;
	background: var(--elements);
	border: none;
	margin: 2em 0 5em 0;
}

.country-flag {
	width: 100%;
}

.country-stats {
	margin-bottom: .5em;
}

.country-stats-bold,
.borders {
	font-weight: 600;
}

.margin-bottom {
	margin-bottom: 2em;
}

.borders {
	display: flex;
	flex-wrap: wrap;
}

.border-countires {
	width: 100%;
}

@media (min-width: 1200px) {
	.country-page-container {
		display: flex;
		gap: 5em;
		/* align-items: center; */
	}

	.btn {
		display: inline-block;
	}

	.country-flag {
		width: 50%;
	}

	.country-stats-flex {
		display: flex;
		gap: 3em;
	}

	.border-countires {
		width: 30%;
	}

}

