.home {
	background: var(--background);
}

.input,
.search-region {
	color: var(--input);
	padding: 1em .5em;
}

.inputs {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 0 1em;
}

.search-country-input {
	display: flex;
	align-items: center;
	width: 100%;
	border-radius: 5px;
	background: var(--elements);
	margin-top: 1.5em;
	margin-bottom: 2em;
}

.icon {
	
	color: var(--input);
	margin-left: 1em;
}

.input {
	border: none;
	background: inherit;
	padding-left: 2em;
}



.search-region {
	margin-bottom: 2em;
	width: 50%;
	border: none;
}

.countries {
	display: flex;
	flex-direction: column;
	align-items: center;
}

@media (min-width: 1200px) {

	.inputs {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 0;
		width: 91%;
		margin: 0 auto;
	}

	.search-region {
		width: 100%;
		margin: 0;
	}

	.search-country-input {
		width: 35%;
	}

	

	.countries {
		display: grid;
		gap: 3em;
		grid-template-columns: repeat(4, 1fr);
		align-items: stretch;
		width: 91%;
		margin: 0 auto;
		/* padding: 0 .75em; */
	}

}


