.home {
	background: var(--background);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.input,
.search-region {
	color: var(--input);
	padding: 1em .5em;
}

.search-region,
.search-country-input {
	box-shadow: 7px 6px 5px 0px rgba(219,212,212,0.75);
	-webkit-box-shadow: 7px 6px 5px 0px rgba(219,212,212,0.75);
	-moz-box-shadow: 7px 6px 5px 0px rgba(219,212,212,0.75);
}

.inputs {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 0 1em;
}

.search-country-input {
	display: flex;
	align-items: center;
	width: 100%;
	border-radius: 5px;
	background: var(--elements);
	margin-top: 1.5em;
	margin-bottom: 2em;
}

.icon {
	
	color: var(--input);
	margin-left: 1em;
}

.input {
	border: none;
	background: inherit;
	padding-left: 2em;
}

.search-region {
	margin-bottom: 2em;
	width: 50%;
	border: none;

}

