.home {
	background: var(--background);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.search-country,
.search-region {
	color: var(--input);
	padding: 1em .5em;
}

.inputs {
	display: flex;
	flex-direction: column;
	/* justify-content: space-between; */
}

.input {
	display: flex;
	align-items: center;
	max-width: 250px;
	border: .5px solid var(--text);
	border-radius: 5px;
	background: var(--background);
	/* padding-left: 2em; */
}

.icon {
	display: absolute;
	color: var(--input);
	margin-left: .5em;
}

.search-country {
	width: 250px;
	border: none;
	background: inherit;
	
}

.search-region {
	/* margin-right: 2em; */
	margin: 1.5em 0;
	max-width: 200px;
}

