* {
	box-sizing: border-box;
}

:root {
	--dkmode-el: hsl(209, 23%, 22%);
	--dkmode-bg: hsl(207, 26%, 17%);
	--ltmode-txt: hsl(200, 15%, 8%);
	--ltmode-input: hsl(0, 0%, 52%);
	--ltmode-bg: hsl(0, 0%, 98%);
	--dkltmode-txt: hsl(0, 0%, 100%);
}

body, html {
	font-family: 'Nunito Sans', sans-serif;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	margin: 0;
}

img {
	max-width: 100%;
}

p {
	color: var(--ltmode-txt);
}