* {
	box-sizing: border-box;
}

:root {
	--background: hsl(0, 0%, 98%);
	--elements: hsl(0, 0%, 100%);
	--text: hsl(200, 15%, 8%);
	--input: hsl(0, 0%, 52%);

}

[data-theme='dark'] {
	--background: hsl(207, 26%, 17%);
	--elements: hsl(209, 23%, 22%);
	--text: hsl(0, 0%, 100%);
}


body, html {
	font-family: 'Nunito Sans', sans-serif;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	margin: 0;
	padding: 0;
	color: var(--text);
	font-size: .95rem;
}

body {
	max-width: 375px;
	margin: 0 auto;
	background: var(--background);
}

img {
	width: 100%;
}

a {
	text-decoration: none;
}

.box-shadow {
	box-shadow: 7px 6px 5px 0px rgba(219,212,212,0.75);
	-webkit-box-shadow: 7px 6px 5px 0px rgba(219,212,212,0.75);
	-moz-box-shadow: 7px 6px 5px 0px rgba(219,212,212,0.75);
}

@media (min-width: 1200px) {
	body {
		max-width: none;
	}

	.country {
		max-width: 200px;
	}

}